.page-content {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: block;
  font-size: 13px;
}

.button-container {
  display: none;
}

.section-title {
  font-size: 12px;
}

.name-container {
  display: flex;
  justify-content: center;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.technology-words {
  font-size: 11px;
}

.name {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-header-title {
  font-size: 11px;
  text-decoration: underline;
}

.job-header-words {
  font-size: 11px;
}

li {
  font-size: 9.5px;
}
